.bgImage {
    background-image: url('../../assets/images/home_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 100%;
    min-height: 65vh;
    scale: 1.5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}