@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: #000 !important;
  position: relative;
}

.transitions {
  @apply transition duration-300
}

.mantine-Accordion-item {
  background: #2d2d2d !important;
  color: white !important;
}

.mantine-Accordion-label,
.mantine-Accordion-chevron {
  color: white !important;
  font-size: 26px !important;
}

.mantine-Accordion-content {
  font-size: 18px !important;
  border-top: 1px solid black;
}

.mantine-Checkbox-input {
  background: rgb(156 163 175) !important;
  border: none !important;
}

.mantine-Checkbox-body {
  user-select: none !important;
}

.mantine-Input-input {
  background: #333333 !important;
  color: white !important;
  border: none !important;
}

@media screen and (max-width:1024px) {
  .mantine-Accordion-label {
    font-size: 20px !important;
  }
}