@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  overflow-x: hidden;
  background: #000 !important;
}

.transitions {
  @apply transition duration-300
}

.mantine-Accordion-item {
  background: #2d2d2d !important;
  color: white !important;
}

.mantine-Accordion-label,
.mantine-Accordion-chevron {
  color: white !important;
  font-size: 26px !important;
}

.mantine-Accordion-content {
  font-size: 18px !important;
  border-top: 1px solid black;
}

@media screen and (max-width:1024px) {

  .mantine-Accordion-label {
    font-size: 20px !important;
  }
}