.bgImage {
    background-image: url('../../assets/images/home_bg_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    min-width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100vh;
    background: #000;
    opacity: .6;
    z-index: -1;
}